@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #f5f5f5;
}

.form-container {
  min-width: 475px;
  margin: 3rem auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-row {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

select,
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  font-family: "Poppins", Arial, sans-serif;
  transition: border-color 0.3s ease-in-out;
}
#numOfQuestions {
  width: 95%;
}
select:focus,
input[type="number"]:focus {
  outline: none;
  border-color: #7ac9f5;
}

button {
  padding: 12px 24px;
  background-color: #0e73c7;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  font-family: "Poppins", Arial, sans-serif;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #ff5722;
}

@media (max-width: 600px) {
  .form-container {
    max-width: 80%;
  }
}
/*-------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #561692;
}

.quiz-container {
  text-align: center;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  font-family: "Open Sans", sans-serif;
}

.quiz-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.question-text {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.options {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.option {
  font-size: 20px;
  margin: 5px;
  flex-basis: 45%;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease-in;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
}

.option:hover {
  color: #ff9800;
}

.quiz-info {
  margin-top: 20px;
  font-size: 16px;
  color: #666;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .quiz-container {
    max-width: 90%;
  }
}
/************ Modal*/
.modal {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
}
.modal-content {
  margin: 15% auto;
  padding: 20px;

  text-align: center;
  animation-name: modalFadeIn;
  animation-duration: 0.3s;
}

/* Score display */
.score {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Restart button */
.restart-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.restart-button:hover {
  background-color: #45a049;
}

/* Animations */
@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
